<div class="container">
    <div class="section">
        <div class="formstyle">
            <form id="formulario" class="form-inline justify-content-center ">
                <label class="mr-sm-2" for="paises">Paises:</label>
                <div class="input-group">
                    <input type="text" #termino id="paises" class="form-control  bg-light border-0 " (selectItem)="selectedItem($event)" [(ngModel)]="model" [ngbTypeahead]="search" name="paises" placeholder="Search">
                    <div class="input-group-append">
                        <button type="button" (click)="buscarPais(termino.value)" class="btn btnred" id="enviar"><i class="fa fa-search fa-sm"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="section">
        <div *ngIf="isLoading==true" id="loading">Cargando...</div>
        <div [innerHTML]="info" id="info">
            <!-- Mostrar info de cada pais -->
        </div>
    </div>
</div>