<nav class="navbar navbar-light ">
    <a class="navbar-brand mx-auto" href="/">
        <picture>
            <source srcset="assets/img/covid-logo-dark.png" media="(prefers-color-scheme: dark)">
            <img src="assets/img/covid-logo.png" width="180" height="60" alt="covid-logo" loading="lazy">
        </picture>
    </a>
</nav>
<app-form></app-form>